<ion-view view-title="Shopping Lists">
 <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"  nav-direction="forward" href="#/tab/add"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item
        ng-repeat="list in lists"
        class="item-chat item-remove-animate item-avatar item-icon-right"
        type="item-etxt-wrap"
        href="#/tab/lists/{{list._id}}">
        <h2>{{list.name}}</h2>
          <p>{{list.description}}</p>
 <i class="icon ion-chevron-right icon-accessory"></i>        
        <ion-option-button class="button-assertive"  ng-click="remove(list)">
Delete
</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
